# This is an example parameter file needed by some example
# code or some higher level functions.
[sim]
path= D:\research\TU Delft\ESA_cube proposal\data\processed_data
concept=Specular Constellation #Concept 1: Comb Constellation
max_coverage=True
pulse_limited_enable=True
SAR_mode_enable=Fasle
interferometer_enable=True
plot_spec_coverage=False
plot_prf=False
plot_raney=False
interleaved_mode_enable=False


[orbit]
# Orbit alt. [km]
alt=634e3#[400e3, 450e3, 500e3, 550e3, 600e3, 650e3]
inc=92.0006 
e=0.001406
re_cycle_num=516
re_day=35
con_repeat=False


[radar]
# freq [GHz]
f0=35.75e9
az_ant=0.8#[0.4, 0.6, 0.8, 1.0, 1.2, 1.4]
c_ant=0.8#[0.4, 0.6, 0.8, 1.0, 1.2, 1.4]
microsat_antenna=0.5#[0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6,0.65, 0.7,0.75, 0.8, 0.85, 0.9, 0.95, 1]#0.2#[0.1, 0.2, 0.3, 0.5, 0.7, 1]#
microsat_antenna_along=1#[0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 2.25, 2.5, 2.75, 3, 3.25, 3.5, 3.75, 4, 4.25, 4.5, 4.75, 5]
off_nadir=[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.75, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]
bandwidth=500e6#[100e6, 200e6, 300e6, 400e6, 500e6]#[50e6, 100e6, 150e6, 200e6, 250e6, 300e6, 350e6, 400e6, 450e6, 500e6]#500e
# uncompr pulse length [ms]
pw_uc=0.048 
# pulses coh. burst (n)
pulse_coh_bur=10#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]#10#[4, 8, 12, 16]
# burst rep interval [ms]
bur_rep_int=4#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]#10#[2, 4, 6, 8, 10]
# range samples
rg_num=128
# interfer. baseline [m]
baseline=240#[0.5, 1, 5, 10, 20, 50, 100, 200, 500, 1000, 2000]
input_power=2


[loss]
# Instrum + atmosph. Loss [dB]
loss_in_at=7
NF=5
SNR=11#[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
sigma0=11


[scene]
# interferometric slope
slope=30#[0.1, 1, 5, 10, 20, 30, 45, 60]